# -CESA-
**CESA** Ücretsiz Eğitim Planı


1. Powerhouse GYM tadilat ve bakım çalışmaları olmadıkça hafta içi/sonu her gün hizmet verir.
2. Görevlilerimiz, üyelere ve tüm kullanıcılara kimliğini ibraz etmesini talep etmeye yetkilidir. Bu durumda kişi kimliğini ibraz etmediği takdirde tesisi kullanamaz.
3. Powerhouse GYM sunduğu spor hizmetlerinin saat, seans ve kurallarında değişiklik yapma hakkını saklı tutar.
4. Katılımcılarımız tesisimizdeki spor salonlarından yararlanmak için, spor salonu kurallarına uygun kıyafetleri kullanmak zorundadır.
5. Tesise evcil hayvan, dışarıdan yiyecek-içecek, spor ya da oyun amaçlı malzeme getirilemez.
6. Katılımcıların yanlarında değerli eşya getirmemeleri önerilir.
7. Tesise öldürücü ve yaralayıcı araçlarla (çakı, bıçak, ruhsatlı dahi olsa silah vb) girilemez.
8. Tesisin genel hijyen ve temizliğini korumak için Spor Merkezinin sunduğu hijyenik çözümler uygulaması gereklidir.
9. Üyelerimizin; yakını, seyirci, hizmetçi, yardımcı vs adı altında yanlarında getirecekleri ikinci şahıslar spor alanlarına alınamaz.
10. Üyenin ya da yanında getirdiği misafirin tesisin herhangi bir yerine zarar vermesi halinde, tutulacak tutanağa göre zarar üyeden tazmin edilir.
11. Üye, yararlandığı spor salonuna göre gerekli spor malzemelerini(spor kıyafeti, ayakkabısı, havlu takımı, terlik vb) yanında bulundurmalıdır.
12. Kullanıcılar görevli kişilerin uyarılarına uymak zorundadır. Bu uyarılara ve kurallara uymayanlardan tesisi terk etmesi istenecektir.
13. Spor yaparken sorun yaratabilecek bir sağlık problemi oluştu ise tesisleri kullanım esnasında görevli eğitmene durumlarını bildirmeleri gerekmektedir.
14. Fitness salonu kullanıcısı bu kullanma taahhütnamesini imzalayarak tüm kuralları peşinen kabul etmiş olmaktadır. Fitness salonu kullanıcısı kurallara uymadığı takdirde hakkında oluşabilecek hukuki ceza davalarını ve Mahkemelerin vereceği kararları itirazsız kabul edip maddi manevi zararları tazmin etmek zorundadır.

Salon Kullanıcısının:
Adı-Soyadı:
Tarih     :
İmza      :
